:root{
    --Primer-Color: #222831;
    --Segundo-Color: #393E46;
    --Tercer-Color: #FD7014;
    --Cuarto-Color: #EEEEEE;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-color: var(--Primer-Color);
}


#app{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}