.container__record{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    width: 100%;
}

.nuevo__record--text{
    font-size: 7rem;
    font-weight: bold;
    color: var(--Cuarto-Color);
    text-align: center;
    margin-top: 50px;
    animation: zoom-in-zoom-out 1s ease-in-out;
    text-shadow: -2px 2px 10px black;
    user-select: none;
}

.nuevo__record--record{
    font-size: 10rem;
    font-weight: bold;
    color: var(--Cuarto-Color);
    text-align: center;
    margin-top: 50px;    
    text-shadow: -2px 2px 10px black;
    user-select: none;
}

.nuevo__record--anotherText{
    font-size: 4rem;
    font-weight: bold;
    color: var(--Primer-Color);
    transition: all .5s ease-in-out;
    text-align: center;
    user-select: none;
}


.nuevo__record--boton{
    display: none;
    width: 170px;
    height: 60px;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--Cuarto-Color);
    background-color: var(--Tercer-Color);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    user-select: none;
}
  

@keyframes zoom-in-zoom-out {
    0% {
        transform: translateY(-50px);
        font-size: 1rem;
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
        font-size: 7rem;
}
}