.container__record{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    width: 100%;
}

.nuevo__record--text{
    font-size: 7rem;
    font-weight: bold;
    color: var(--Cuarto-Color);
    text-align: center;
    margin-top: 50px;
    animation: zoom-in-zoom-out 1s ease-in-out;
}

.nuevo__record--record{
    font-size: 10rem;
    font-weight: bold;
    color: var(--Cuarto-Color);
    text-align: center;
    margin-top: 50px;    
}

.zoom-in-out-box {
    margin: 24px;
    width: 50px;
    height: 50px;
    border:1px solid green;
    background: #f50057;

  }
  
  @keyframes zoom-in-zoom-out {
    0% {
        transform: translateY(-50px);
        font-size: 1rem;
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
        font-size: 7rem;
    }
  }