.container__alert--answer-correct{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(30, 255, 0, 0.3);
}
.answer-correct{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #00ff37;
    border: 10px solid white;
    border-radius: 50%;
    animation: giro .3s linear;
    transition: all .3s linear;
}

.answer-correct p{
    color: white;
    font-size: 90px;
    font-weight: bold;
}



.container__alert--answer-incorrect{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 0, 0, 0.4);
}
.answer-incorrect{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
    border: 10px solid white;
    border-radius: 50%;
    animation: giro .3s linear;
    transition: all .3s linear;
}
.answer-incorrect p{
    color: white;
    font-size: 90px;
    font-weight: bold;
}



@keyframes giro{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}